<div class="table-of-contents-list">
    <h2 class="table-of-contents-list"> Python Contents </h2>
    <ul class="table-of-contents-list">
        <li><a href="./python-basic"> (1) Python 기본</a></li>
        <li><a href="./python-control"> (2) Python 제어문</a></li>
    </ul>

</div>


<!--
<span class="table-of-contents-list">Python Contents </span>
<ul class="table-of-contents-list">
    <li><a href=".//python-basic"> (1) Python 기본</a></li>
    <li><a href="./python-control"> (2) Python 제어문</a></li>
</ul>

-->